.body {
  &__card {
    position: relative;
    &-title{
      font-family: 'Amatic SC', cursive;
      font-weight: bold;
      //margin: 0 auto;
      //box-sizing: content-box;
    }
    &-delete-btn {
      position: absolute;
      top:10px;
      right:10px;
      //font-size: 10px;
    }
  }
  &__placeholder {
    height: 70vh;
    margin: auto;
    line-height: 70vh;
    text-align: center;
    font-size: 50px;
    color: #5a6268;
    font-family: 'Amatic SC', cursive;
  }

}