.header {
  &__logo {
    height: 40px;
    position: relative;
    &-img {
      position: absolute;
      top: 0;
      width: 40px;
      height: 40px;
    }

    &-txt {
      position: absolute;
      left: 50px;
      //margin: 0;
      //height: 40px;
      font-size: 30px;
      //line-height: 40px;
      font-family: 'Permanent Marker', cursive;
    }
  }
}